h3{
    color:black
    font-weight:lighter;
    font-style:normal;
    font-size:50px;
    text-align: right;
}
p{
    color:blueviolet;
    font-weight: bold;
    font-style:normal;
    font-size: 50px;
    text-align: right;   
}
#css{
    color:bisque;
    text-decoration: none;
}
h2{
    color:blue;
    font-weight: bold;
    font-style:normal;
    font-size: 50px;
    text-align: right; 
}