*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: solid;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Home section*/
#home{
    background-image: url(kreepa.jpg-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#Home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #9c27b0, #8ecdff );;
    opacity: .7;
    z-index: -1;
}
#Home .Home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: 50px;
}
#Home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: whitesmoke;
    animation: text_reveal .5s ease forwards;
    animation: 1s;
}
#Home h1:nth-child(1) span{
animation-delay: .5s;
}
#Home h1:nth-child(2) span{
animation-delay: 1.5s;
}
#Home h1:nth-child(3) span{
    animation-delay: 2.5s;
    }
#Home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: aliceblue;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#Home .cta{
    display: inline-block;
    padding: 10px 30px;
    color:wheat;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease-in;
    transition-property: background-color, color;
}
#Home .cta:hover{
    color: white;
    background-color: blue;
}
/*End Home Section*/ 


/*keyframe*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal_name{
    100%{
        color: white;
    }
}
/*End keyframe*/